{% extends "blogs/base.html" %}

{% block page_header %}
  <p><h3>Posts</h3></p>
{% endblock page_header %}

{% block content %}
  <h3><a href="{% url 'blogs:new_post' %}">Add a new post</a></h3>
  
  <ul>
    {% for post in posts %}
      <li><h5>
        <b>{{ post.owner }}:</b>
        {{ post }}
        <p>
          <a href="{% url 'blogs:edit_post' post.id %}">Edit Post</a>
        </p>
      </h5></li>
    {% empty %}
      <li><h3>No posts have been added yet.</h3></li>
    {% endfor %}
  </ul>

{% endblock content %}
